*{
    /*os elementos já tem um padding e margin pré-establecido, mas distintos. POr isso é necessário definir*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #000000;
    font-style: oblique;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Outfit', sans-serif;
}

ul{
    list-style: none;
    font-size: 30px;
    font-weight: 400;
}
                                     
a{
    /*link sem decoração*/
    text-decoration: none;
}

body{
    background-color: #ffff;
}

header{
    display: flex; /*permite que seja um bloco só*/
    justify-content: space-between;
    align-items: center;
    padding: 60px;
}

header ul{
    display: flex;
}

header ul li{
    padding: 15px;
}

header ul li a{
    color: white;
}

#topo{
    position:relative;
    width: 1366px;
    height: 77px;
    left: 0px;
    top: -2px;

    background: #FB1C1C;
}


img{
    width: 150px;
    height: auto;
    margin-left: 20%;
}

/*categorias*/

.category ul{
    margin-top: 3%;
    display: flex;
    justify-content:space-evenly;
}

/*cards*/

.card{
    width: 278px;
    height: 172px;
    background:#FB1C1C; 
    display: inline-block;
    margin-top: 5%;
    margin-left: 2%;
    border-radius: 20px;
}

i{
    top: 110%;
    color: white;
    margin-left: 35%;
    margin-top: 10%;
}

h1{
    text-align: center;
    font-size: 55px;
    color: rgb(20, 4, 4);
    margin-top: 5%;
}

/*destaques*/

.contanier{
    width: 278px;
    height: 172px;
    background:#f5eaea; 
    display: inline-block;
    margin-top: 5%;
    margin-left: 2%;
    border-radius: 20px;
}

h4 {
    text-align: center;
    color: white;
}

p{
    margin-top: 10%;
    text-align: center;
    color: white;
}

.contanier p{
    color: black;
}

button{
    margin-top: 10%;
    margin-left: 20%;
    width: 60%;
    height: 30px;
    border-radius: 7px;
    color: rgb(252, 252, 252);
    background-color: green;
}

