*{
    /*os elementos já tem um padding e margin pré-establecido, mas distintos. POr isso é necessário definir*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #000000;
    font-style: oblique;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Outfit', sans-serif;
}

ul{
    list-style: none;
    font-size: 30px;
    /*font-weight: 400;*/
}
                                     
a{
    /*link sem decoração*/
    text-decoration: none;
    margin-top: 20%;
}

body{
    background-color: #ffff;
}

header{
    /*display: flex; /*permite que seja um bloco só*/
    justify-content: space-between;
    align-items: center;
    
}

header ul{
    width: 50%;
    height: 100px;
    float: right;
    margin-right: 10%;
    padding: 20px;
}

header ul li{
    margin: 5px;
    float: right;
    display: inline-block;
}

header ul li a{
    color: white;
    font-size: 14pt;
}

#topo{
    /* position:relative; */
    width: 100%;
    height: 100%;
    /* height: 77px;
    left: 0px;
    top: -2px; */
    display: inline-block;
    background: #FB1C1C;
   
    vertical-align: middle;
   
}


img{
    width: 100px;
    height: auto;
}

.contanier img{
    width: 150px;
}

/*categorias*/

.category ul{
    margin-top: 3%;
    display: flex;
    justify-content:space-evenly;
}

/*cards*/

.card{
    width: 278px;
    height: 172px;
    background:#FB1C1C; 
    display: inline-block;
    margin-top: 5%;
    margin-left: 2%;
    border-radius: 20px;
}

i{
    top: 110%;
    color: white; 
    margin-top: 10%;
}

h1{
    text-align: center;
    font-size: 55px;
    color: rgb(20, 4, 4);
    margin-top: 5%;
}

/*destaques*/

.contanier{
    width: 278px;
    height: 172px;
    background:#f5eaea; 
    display: inline-block;
    margin-top: 5%;
    margin-left: 2%;
    border-radius: 20px;
}

h4 {
    text-align: center;
    color: white;
}

p{
    margin-top: 30%;
    text-align: center;
    color: white;
}

.contanier p{
    color: black;
}

button{
    margin-top: 10%;
    width: 60%;
    height: 30px;
    border-radius: 7px;
    color: rgb(252, 252, 252);
    background-color: green;
}

.card_detalhes{
    width: 500px;
    height: 500px;
    background:#f5eaea; 
    display: inline-block;
    margin-top: 5%;
    margin-left: 2%;
    border-radius: 20px;
}

#imagem{
    margin-left: 30%;
    margin-top: 25%;
    width: 230px;
    height: 240px;
}

.compras {
    display: inline-block;
}

.compras p{
    color: black;
    font-size: 180%;
    margin-left: 20%;
}

.compras h4{
    font-size: 150%;
    margin-left: 20%;
    margin-top: 5%;
}

.compras button{
    margin-left: 35%;
}

/*quem somos*/

.sobreEmpresa{
    display: center;
}

.sobreEmpresa p{
    color: #000000;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.sobreEmpresa img{
    display: center;
    width: 40%;
    height: 20%;
    margin-left: 30%;
}

/*Contato*/

h2{
    text-align: center;
    padding-top: 10%;
}

.contato{
    display: center;
}

.contato button{
    width: 20%;
    margin-left: 42%;
    margin-top: 3%;
}

section{
    margin: auto; 
    text-align: center; 
}

@media (max-width: 428px) {
    header ul li a{
        font-size: 10pt;
    }

    .category ul li a{
        font-size: 15pt;
    }

    h1{
        font-size: 40px;
    }

    header ul{
       padding-right: 15%;
       width: 80%;
       height: 40%;
    }

    img{
        margin-left: 35%;
    }

    p{
        margin-top: 10%;
    }

    .contanier img{
        margin-left: 0%;
    }
}

@media (max-width: 1024px){
    .category ul li a{
        font-size: 23px;
    }

    h1{
        font-size: 45px;
    }

    header ul{
        padding-right: 15%;
        width: 75%;
    }

    img{
        margin-left: 40%;
    }

    p{
        margin-top: 10%;
    }

    .contanier img{
        margin-left: 0%;
    }
}